<body (window:resize)="onResize($event)">
    <app-menu></app-menu>

    <div class="main">
        <div class="card" style="margin-top: 100px;">
            <p class="subheader">Reset Password</p>
        </div>
        <div class="title">
            <h1>Reset Password</h1>
            <p style="margin-top: 20px; font-size: 25px;">Please type in your new password.</p>
        </div>
        
        <div class="form-area">
            <form id="reset" #resetPasswordForm="ngForm" (ngSubmit)="check_empty(resetPasswordForm.value)">
                <div class="card">
                    <p>New Password</p>
                    <input (blur)="verify_password(resetPasswordForm.value)" name="password" type="password" placeholder="Password" ngModel>
                    <div class="error" style="margin-top: 10px; margin-bottom: 10px;"><p id="password_error"></p></div>
                    <p>Confirm Password</p>
                    <input (blur)="verify_confirm_password(resetPasswordForm.value)" name="confirm_password" type="password" placeholder="Password" ngModel>
                    <div class="error" style="margin-top: 10px; margin-bottom: 10px;"><p id="confirm_password_error"></p></div>
                    
                    <div class="error" style="margin-top: 0px;"><p id="reset_error"></p></div>
                        <div class="proceed_section" id="proceed_section">
                            <input type="submit" ontouchstart="" value="Change Password">
                        </div>
                </div>
            </form>
        </div>
    </div>
</body>