@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../styles.css");

.card {
    border-bottom: none!important;
}

.title {
margin-top: -25px;
}

.form-area {
margin-bottom: 50px;
}

input[type=password] {
max-width: 400px;
}

#proceed_section {
margin-top: -30px;
}

input[type=submit] {
width: 200px;
}