@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../styles.css");

input[type=submit] {
    width: 250px;
    margin-right: 10px;
    margin-left: 0px;
}

.error {
    margin-top: 40px;
    margin-bottom: 20px;
}

#proceed_section {
    margin-top: 0px;
    margin-bottom: 50px;
}