<body (window:resize)="onResize($event)">
    <app-menu></app-menu>
    
    <div class="main">
        <div class="card" style="margin-bottom: 30px; border-bottom: none;" (click)="redirect()">
            <button class="back-button">&#x276E; ITP Advisor</button>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
            <span class="sr-only">67% Complete</span>
          </div>
        </div>
        
        <div class="card" style="border-bottom: none;">
            <p class="subheader">Documents</p>
        </div>
        <div class="title">
            <h1>Submit Appendix A</h1>
        </div>
        
        <div class="card" style="border-bottom: 2px solid black; padding-bottom: 10px;">
            <p class="subheader-bottom">Please download, fill up and submit these documents.</p>
        </div>
        
        <div class="title">
            <h2>Download Document</h2>
        </div>
        
        <section class="download_section_special">
            <a href="../../assets/Documents/Letter of Undertaking ITP FIST 2019_2020.docx" download>
                <div class="dc document_card">
                    <img src="../../assets/document_icons_png/doc.png">
                    <div class="ct">
                        <p>Letter of Undertaking ITP FIST 2019_2020.docx</p>
                    </div>
                </div>
            </a>
        </section>
        
        <div class="card"></div>
        <div class="title">
            <h2>Submit Documents</h2>
        </div>
        <form #submitAppendixAForm="ngForm" (ngSubmit)="check_files()">
            <div class="upload_card">
                <p>Letter of Undertaking</p>
                <input type="file" ontouchstart="" id="undertaking" name="undertaking" class="file_submission" (change)="display_undertaking(submitAppendixAForm.value)" ngModel>
                    <p id="undertaking_file_name"></p>
            </div>
            
            <div class="upload_card">
                <p>Offer Letter</p>
                <input type="file" ontouchstart="" name="offer_letter" id="offer_letter" (change)="display_offer_letter(submitAppendixAForm.value)" class="file_submission" ngModel>
                    <p id="offer_letter_file_name"></p>
            </div>
        
        <div class="card" style="border-bottom: none;">
            <div class="error"><p id="master_error"></p></div>
            <div class="proceed_section" id="proceed_section">
                <input type="submit" ontouchstart="" value="Submit  &#x276F;">
            </div>
        </div>
    </form>
    <p id="width"></p>
    <p style="text-align: center; font-size: 10px; margin-top: 50px;">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
</div>
</body>