@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../styles.css");

.progress-bar {
    width: 22%;
}

html {
    overflow-x: hidden;
}

html, body, .main {
height: 100%;
}

.title {
margin-bottom: 40px;
}