<body>
    <app-menu></app-menu>
      
      <div class="main">
          <div class="card" style="margin-bottom: 30px; border-bottom: none;" onclick="window.location.href = 'registration.html'">
              <button style="position: relative; right: 10px;" class="back-button">&#x276E; Back</button>
          </div>
          
          <div class="card" style="border-bottom: none;">
              <p class="subheader">ITP Advisor</p>
          </div>
          
          <div class="title">
              <h1>ITP Advisor Assigned</h1>
          </div>
          <div class="card" style="border-bottom: 2px solid black; padding-bottom: 10px;">
              <p class="subheader-bottom">The following ITP Advisor has been assigned to you.</p>
          </div>
          
          <div class="card" style="border: none;">
              <p style="font-weight: 200; margin-bottom: 30px;">Name: Dr. Wee Kuok Kwee</p>
              <p style="font-weight: 200; margin-bottom: 30px;">Email: <a href="mailto:wee.kuok.kwee@mmu.edu.my" style="font-weight: 200;">wee.kuok.kwee@mmu.edu.my</a></p>
              <p style="font-weight: 200; margin-bottom: 30px;">Telephone Number: +601234567</p>
              <p style="font-weight: 200; margin-bottom: 30px;">Room Number: 2001</p>
              <p style="font-weight: 200; margin-bottom: 30px;">Consultation Hours:<br />
              Monday: 12PM - 1PM<br />
              Thursday: 9AM - 10AM</p>
          </div>
      </div>
</body>

