<body>
    <app-menu></app-menu>
      
      <div class="main">
          <div class="card" style="margin-bottom: 30px; border-bottom: none;" (click)="redirect_back()">
              <button style="position: relative; right: 7px;" class="back-button">&#x276E; Register Company</button>
          </div>
          <div class="progress" style="margin-bottom: 60px;">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              <span class="sr-only">56% Complete</span>
            </div>
          </div>
          
          <div class="card" style="border-bottom: none;">
              <p class="subheader">Registration</p>
          </div>
          
          <div class="title">
              <h1>ITP Advisor Assigned</h1>
          </div>
          <div class="card" style="border-bottom: 2px solid black; padding-bottom: 10px;">
              <p class="subheader-bottom">The following ITP Advisor has been assigned to you.</p>
          </div>
          
          <div class="card" style="border: none;">
              <p style="font-weight: 200; margin-bottom: 30px;">Name: Dr. Wee Kuok Kwee</p>
              <p style="font-weight: 200; margin-bottom: 30px;">Email: <a href="mailto:wee.kuok.kwee@mmu.edu.my" style="font-weight: 200;">wee.kuok.kwee@mmu.edu.my</a></p>
              <p style="font-weight: 200; margin-bottom: 30px;">Telephone Number: +601234567</p>
              <p style="font-weight: 200; margin-bottom: 30px;">Room Number: 2001</p>
              <p style="font-weight: 200; margin-bottom: 30px;">Consultation Hours:<br />
              Monday: 12PM - 1PM<br />
              Thursday: 9AM - 10AM</p>
          </div>
          <div class="card" style="margin-bottom: 30px; border-bottom: none; margin-top: 30px;" (click)="redirect_forward()">
              <button class="back-button" style="font-size: 25px; margin-bottom: 50px;">Submit Appendix A &#x276F;</button>
          </div>
      </div>
</body>
