<body>
    <app-menu></app-menu>
      
      <div class="main">
          <div class="card" style="margin-bottom: 30px; border-bottom: none;" onclick="window.location.href = 'registration.html'">
              <button style="position: relative; right: 7px;" class="back-button">&#x276E; Register Company</button>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
              <span class="sr-only">44% Complete</span>
            </div>
          </div>
          
          <div class="card" style="border-bottom: none;">
              <p class="subheader">Registration</p>
          </div>
          
          <div class="title">
              <h1>Assigning ITP Advisor</h1>
          </div>
          <div class="card" style="border-bottom: 2px solid black; padding-bottom: 10px;">
              <p class="subheader-bottom">An ITP Advisor will now be assigned to you. This could take up to a few days so an email will be sent to you once an advisor has been assigned to you.</p>
          </div>
      </div>
</body>