@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../styles.css");

.progress-bar {
    width: 44%;
}

.title {
    margin-top: 20px; 
    margin-bottom: 40px;
}

.back-button {
    position: relative; 
    right: 7px;
}