<body (window:resize)="onResize($event)">
    <app-menu></app-menu>
    <div class="main">
        <div class="title">
            <h1>Sign In</h1>
        </div>
        
        <div class="form-area">
            <form id="login" #loginForm="ngForm" (ngSubmit)="check_empty(loginForm.value)">
                <div id="card" class="card-login">
                    
                    <div id="card-left" class="create-account">
                        <p>Don't have an account?</p>
                        <p><a [routerLink]="['/signup']" routerLinkActive="router-link-active" >Create Account</a></p>
                    </div><div id="login-section" class="login-area">
                        <p>Email</p>
                        <input name="email" type="text" placeholder="example@email.com" ngModel>
                        <p style="margin-top: 50px;">Password</p>
                        <input name="password" type="password" placeholder="Password" ngModel>
                        <div class="error"><p id="login_error"></p></div>
                        <div class="login_links">
                            <p style="font-size: 20px;"><a href="retrieve_email.html">Forgot Password?</a></p>
                        </div>
                        <div class="submit-mobile">
                            <input id="loginbtn" ontouchstart="" type="submit" value="Sign In">
                        </div>
                        <div id="login-below" class="create-account-2">
                            <p>Don't have an account? <a [routerLink]="['/signup']" routerLinkActive="router-link-active" >Create Account</a></p>
                        </div>
                    </div>
                </div>
            </form>
            <p id="width"></p>
        </div>
    </div>
</body>