@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../styles.css");

html, body {
    overflow-x: hidden;
}

.progress-bar {
width: 33%;
}

#proceed_section {
margin-top: 0px;
margin-bottom: 50px;
}

input[type=submit] {
width: 200px;
}

.error {
    margin-top: 40px;
    margin-bottom: 20px;
}

.back-button {
    font-size: 18px; 
    position: relative; 
    right: 7px;
}