@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../styles.css");

.error {
    margin-top: 30px;
}

.card {
border-bottom: none!important;
}

#proceed_section {
padding-bottom: 10px;
}

input[type=submit] {
width: 200px;
}

input[type=password] {
max-width: 400px;
margin-top: 30px;
}

h1 {
margin-bottom: 50px;
}

.subheader {
margin-bottom: 40px;
}

.title {
margin-top: -20px;
}