<body>
    <app-menu></app-menu>
  
    <div class="main">
        <div class="card" style="margin-bottom: 30px; border-bottom: none;" onclick="window.location.href = 'submit_documents.html'">
            <button class="back-button">&#x276E; Submit Documents</button>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
            <span class="sr-only">11% Complete</span>
            </div>
        </div>
        
        <div class="card" style="border-bottom: none;">
            <p class="subheader">Registration</p>
        </div>
        
        <div class="title">
            <h1>Waiting for Academic Advisor Approval</h1>
        </div>
        <div class="card" style="border-bottom: 2px solid black; padding-bottom: 10px;">
            <p class="subheader-bottom">Your Academic Advisor now needs to approve your ITP placement. Please contact them if you have any questions.</p>
        </div>
        </div>
</body>