@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../styles.css");

.progress-bar {
    width: 56%;
}

.title {
    margin-top: 20px;
    margin-bottom: 40px;
}