@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../styles.css");

h1 {
    word-break: break-word;
    font-size: 47px;
    margin-bottom: 20px;
}

input[type=submit] {
width: 250px;
margin-right: 10px;
margin-left: 0px;
}

.back-button {
    position: relative; 
    right: 3px;
}