@import url("../../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../../styles.css");

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.title {
    margin-bottom: 20px;
}

.progress-bar {
    width: 78%;
}

.paper p {
    font-size: 25px;
    max-width: 1000px;
    margin: 0 auto;
}